*,
html,
body{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(200, 207, 205)
}

.container {
    width: 100%;
    height: 500px;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: auto;
    text-transform: capitalize;
}

.card {
    padding: 20px;
    margin: 8px;
    border: 5px solid;
    color: rgb(3, 3, 3);
    background-color: rgb(255, 255, 255);
}

.teks-center {
    text-align: center;
}

.teks-center h1 {
    margin-bottom: 10px;
    display: flex;
}

.icons {
    color: tomato;
    font-size: 32px;
}
.description {
    margin-top: 20px;
}

.btn {
    margin-top: 20px;
    padding: 8px;
    cursor: pointer;
}
.btn:hover {
    background-color: black;
    color: white;
    font-size: 17px;
    transition: .25s ease-in;
}